
body
{
    background: #F2F2F2;
}

#nav {
    height: 40px;
    color:papayawhip;
    background: #464646;
    position:fixed;
    top:0;
    width:100%;
}

#nav ul {
    list-style:none;
    margin-left: 90px;
    bottom:20px;
}

#nav ul li{
    float:left;
    margin-left: 30px;
    margin-bottom:20px;
}

#nav ul li a{
    color:papayawhip;
    text-decoration: none;
}

#nav ul li a:visited {
    color:papayawhip;
    text-decoration: none;
}


#nav ul li a:hover {
    color: #999999;
    text-decoration: underline;
}

#left {
    width: 686px;
    color:red;
    background: #FFFFFF;
    float: left;
    margin-top:55px;
    margin-left: 180px;

}


#right {
    width: 302px;
    /*color:red;*/
    /*background: #FFFFFF;*/
    background: #F7F7F7;

    float: left;
    margin-left: 10px;
    margin-top:55px;
}

#footer {
    width: 993px;
    color:blueviolet;
    background: wheat;
    float: left;
    margin-left: 180px;
    margin-top:15px;
}


.image-box {
    margin-top:15px;
    background: #F5F5F5;

}

#post {
    /*background: #F7F7F7;*/
    background: #FFFFFF;

}

#hot-tag {
    margin-top:15px;
    /*background: #F7F7F7;*/
    background: #FFFFFF;

}

#subscribe {
    margin-top:15px;
    /*background: #F7F7F7;*/
    background: #FFFFFF;
}

.current{
    position:fixed;
    top:0;
}


#recommend {
}

#recommend .recommend-con {
    float:left;
    width:210px;
    background: wheat;
    margin-left: 10px;
    margin-top: 10px;
    height:200px;
}