
body
{
    background: #F2F2F2;
}

#nav {
    height: 40px;
    color:papayawhip;
    background: #464646;
    position:fixed;
    top:0;
    width:100%;
}


#footer {
     width:100%;
     color:white;
     background: #343434;
     margin-top:5px;
     float:left;
     height:50px;
    position: relative;
}


#footer .about{
    margin-left:350px;
    margin-top:20px;

}

#footer .about .about-item{
    margin-left:10px;
}

#footer .about .about-vertical{
    margin-left:10px;
}


#nav ul {
    list-style:none;
    margin-left: 80px;
    bottom:20px;
}


#paginate ul {
    list-style:none;
}



#paginate ul li{
    float:left;
    margin-left: 10px;
}

#nav ul li{
    float:left;
    margin-left: 30px;
    margin-top:13px;
}

#nav ul li a{
    color:papayawhip;
    text-decoration: none;
    margin-bottom:20px;
}

#nav ul li a:visited {
    color:papayawhip;
    text-decoration: none;
}


#nav ul li a:hover {
    color: #999999;
    text-decoration: underline;
}

#left {
    width: 686px;
    background: #FFFFFF;
    float: left;
    margin-top:55px;
    margin-left: 180px;
}


#search {
    margin-top:25px;
    /*background: #64B907;*/
    border:1px solid #DDDDDD;
}


#right {
    width: 302px;
    background: #FFFFFF;
    float: left;
    margin-left: 10px;
    margin-top:55px;
}

.navbar-form .green {
    color: #464646;
    background-color: #64B907;
}


.blue {
    color: #464646;
}


.left10 {
    margin-left: 10px;
}

.top4 {
    margin-top: 4px;
}

.thumb {
    font-size:25px;
    margin-left: 150px;
}




.image-box {
    background: #F5F5F5;
    border:1px solid #DDDDDD;
}


.hr {
    border:1px #DDDDDD solid;
}

.top15 {
    margin-top:15px;
}

#post {
    background: #F7F7F7;
    border:1px solid #DDDDDD;

}

#hot-tag {
    margin-top:25px;
    background: #F7F7F7;
    border:1px solid #DDDDDD;
}

#right-recommend {
    background: #F7F7F7;
    border:1px solid #DDDDDD;
    margin-top:25px;
}


#right-recommend .item .item-image{
    height:180px;
    width:302px;
}

.current{
    position:fixed;
    top:0;
}


#recommend {
}

#recommend .recommend-con {
    float:left;
    width:210px;
    background: wheat;
    margin-left: 10px;
    margin-top: 10px;
    height:200px;
}


.image-div{
    margin-top:5px;
    margin-left:10px;
    text-align:center;
}

.image-title{
    margin-left:10px;
}

.float-left{
    float:left;
}

.clear{
    clear:both
}
.image-author .image{
    width:40px;
    height:40px;
    border-radius:100%;
    overflow:hidden;
}

.image-author{
    margin-left: 10px;
    margin-top: 5px;
}